/* src/pages/About.module.css */
.about {
    padding: 2rem 0;
  }
  
  .intro {
    font-size: 1.2em;
    max-width: 800px;
    margin: 2rem 0;
  }
  
  .divider {
    border: none;
    border-top: 1px solid var(--color-secondary);
    margin: 2rem 0;
  }

  .experience, .webinars {
    margin-bottom: 3rem;
  }
  
  .experience h2, .webinars h2 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .experience h2 svg, .webinars h2 svg {
    margin-right: 0.5rem;
  }
  
  .experience ul, .webinars ul {
    list-style-type: none;
    padding-left: 1rem;
  }
  
  .experience li, .webinars li {
    margin-bottom: 0.5rem;
    position: relative;
  }
  
  .experience li::before, .webinars li::before {
    content: '•';
    color: var(--color-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .experience a, .webinars a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .experience a:hover, .webinars a:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
  
  .header {
    display: flex;
    align-items: center; /* Changed from flex-start to center */
    margin-bottom: 2rem;
  }
  
  .profileImage {
    width: 350px; /* Adjust as needed */
    height: 350px; /* Set a fixed height to match the width */
    margin-right: 2rem;
    border-radius: 10px; /* Optional: if you want rounded corners */
    object-fit: cover; /* This ensures the image covers the area without distortion */
  }
  
  .headerContent {
    flex: 1;
  }
  
  .headerContent h1 {
    margin-top: 0; /* Removes any top margin from the heading */
  }