.projectPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.backLink {
  display: inline-flex;
  align-items: center;
  color: var(--color-secondary);
  text-decoration: none;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
  font-size: 0.9rem;
}

.backLink:hover {
  color: var(--color-primary);
}

.projectHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.projectHeader svg {
  flex-shrink: 0;
  margin-right: 1rem;
}

.projectHeader h1 {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1;
}

.projectVideo iframe {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 90%;
  height: 90%;
  border-radius: 8px;
}

.projectHero {
  width: calc(100% - 20px);
  height: auto;
  min-height: 300px;
  max-height: 500px;
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical scrolling */
  border-radius: 8px;
  margin-bottom: 2rem;
  position: relative;
  padding: 10px; /* Add padding to show the border effect */
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.projectImage img {
  width: auto;
  height: auto;
  max-height: 300px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

.imagePlaceholder span {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  max-width: 80%;
  word-wrap: break-word;
}

.overviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.overviewHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.typeInfo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: -1rem;
}

.typeInfo svg {
  margin-right: 0.5rem;
}

/* Ensure consistent line height */
.overviewHeader h2,
.typeInfo {
  line-height: 1;
}

.typeInfo span {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.projectInfo {
  background-color: var(--color-box-bg);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.infoSection {
  margin-bottom: 0rem;
}

.infoSection h2 {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.infoSection p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.infoDetails {
  display: flex;
  flex-direction: column;
}

.infoRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.label {
  flex-basis: 120px;
  flex-shrink: 0;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-primary);
}

.value {
  flex-grow: 1;
  padding-left: 1rem;
  word-wrap: break-word;
}

.infoSection ul {
  list-style-type: none;
  padding-left: 0;
}

.infoSection ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.infoSection li {
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.infoSection ul li {
  position: relative;
}

.infoSection ul li::before {
  content: '•';
  color: var(--color-secondary);
  position: absolute;
  left: 0;
}

.infoSection ol li {
  padding-left: 0; /* Reset padding for ordered list items */
  position: static; /* Ensure ordered list items align correctly */
}

.projectFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectLink {
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  text-decoration: none;
  margin-top: 0rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.projectLink:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

@media (max-width: 768px) {
  .projectPage {
    padding: 1rem;
  }

  .projectInfo {
    padding: 1.5rem;
  }

  .projectHeader h1 {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .typeInfo {
    display: none;
  }
}